/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
/*  margin-bottom: 1.5em;*/
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title - h2 to h4 */
}

/* no Block title for footer menu blocks - mb */
#footer h2.block-title {	
	display: none;
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

/* Space for top block in sidebar on Frontpage to make diamond dividers in line */
.front-topspace { 
	padding-top:56px;
}

/* Newsletter signup block in Footer */
.footer-subscribe { 
	display: inline-block;
	margin-left: 220px;
}

/* Space on Get Involved for preface top block */
.pad10 { 
	padding-top: 10px;
}

/* Spacer on Get Involved page to make diamond in line */
.page-topspace { 
	padding-top: 39px;
}

/* Spacer for all pages on entity sites with old layout (no Panels) */
.entity-page-topspace {
	padding-top: 33px;
}

/* Margin left of ul in Frontpage DDblock slideshow */
.front-slider .ddblock-pager { 
	margin-left:448px;
}

.fundraising-slider .ddblock-pager { 
	margin-left:528px;
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

/* KSR Donation meter */
.donation_meter_box { 
	position:relative;
	height:20px;
	width:132px;
	margin: 25px 0px 60px 40px;
	border:2px solid black;
}

.donation_meter_bar {	/* show current amount in % width of total */
	height:20px;
	background:#278E00;
}

.current_goal_text {
	position:absolute;
	top:30px;
	left:0px;
	height:20px;
	width:132px;
	color:#000;
	font-family:Anton, Arial;
	font-size: 20px;
	line-height: 20px;
}

span.current_amount {
	color:#278E00;
}

.landing-page-items {
	background-color: #000;
    width:300px;
   	height:200px;
}

.header-24 {
	font-size: 24px;
	line-height: 30px;
	font-family: 'Anton', Arial;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: 300;
}

#twitter-header {
  display:block;
  width: 97px;
  height: 48px;
  margin: 20px auto;
  background: url(../images/elements.png) no-repeat -40px -528px;
}

#sidebar-book {
  display: block;
  width: 110px;
  height: 75px;
  margin: auto;
  padding-top: 65px;
  background: url(/sites/all/themes/skateistan_zen/images/elements.png) no-repeat -35px -621px;
 }

/* Opacity on image hover for landing page banners */
.opaque {
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        filter: alpha(opacity=70);
        opacity: 0.7;
}

.opaque:hover {
        filter: alpha(opacity=100);
        opacity: 1;
}

/* "Search form" block in header */
#block-search-form { 
	display: inline-block;
	position: absolute;
	margin: 0; 
	padding: 0;
	padding-top: 1px;
	padding-left: 2px;
	font-size: 11px;
}

/* "Search form" block, if invoked */
form#search-block-form--2 { 
	display: inline-block;
	position: absolute;
	margin: 0; 
	padding-left: 1px;
	padding-top: 1px;
	font-size: 11px;
}

/* "Nice menu - Region menu" block */
#block-nice-menus-1 {
	display: inline-block;
	height:25px;
	margin: 0;
	padding: 0;
	padding-top: 1px;
	font-size: 11px;

}

#nice-menus-1 {
	display: inline-block;
	height:23px;
	margin: 0;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 5px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.3em;
}


.diamond-divider-sidebar {
    width: 216px;
    height: 9px;
    background-image: url(../images/diamond.png);
    background-repeat: repeat-x;
    background-position:left bottom;
}

/* Diamond divider for sidebar */ 
#diamond-divider-sidebar {
	width: 216px;
	height: 9px;
	background-image: url(../images/diamond.png);
	background-repeat: repeat-x;
	background-position:left bottom;
}

/* Footer left navigation menu block */
.footer-left { 
	display: inline-block;
	width: 150px;
	height:23px;
	margin-top: 0px;
	vertical-align: top;
}

/* Footer middle navigation menu block */
.footer-middle { 
	display: inline-block;
	width: 150px;
	margin-left: 30px;
	margin-top: 0px;
	vertical-align: top;
}

/* Footer right navigation menu block */
.footer-right { 
	display: inline-block;
	width: 150px;
	margin-left: 30px;
	margin-top: 0px;
	vertical-align: top;
}

/* Bottom sponsor block */
#block-panels-mini-sponsor-footer { 
	background-color: #fff;
}

#block-panels-mini-sponsor-footer h2 {
	margin-top: 20px;
	line-height: 1em;
	font-size: 11px;
	color: #999;
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
